body {
  margin: 0px;
  overflow: hidden;
}

svg {
  width: 100vw;
  height: 100vh;
}

.sphere {
  fill: #05a2c2;
}

.country {
  stroke: black;
  stroke-width: 0.05px;
}

.country:hover {
  fill: green;
}

.tick text {
  font-size: 1em;
  fill: black;
  font-family: sans-serif;
}

.tick circle {
  stroke: black;
  stroke-opacity: 0.5;
}
